#widget-reco {
  max-width: 457px;
  min-height: 369px;
  border:1px solid #ccc;
  position: relative;
  section {
    display: none;
    text-align: center;
    a[class*="js-btn-"] {
      color: #fff;
      padding: 5px;
      margin: 5px;
      background-color: blue;
    }
    &:nth-child(1) {
      display: block;
    }
    &.outcome {
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}